/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ac{
  margin-top: 20px;
  margin-left: 200px;
  height: 200px;
  width: 700px;
  border-radius: 8px;
  border: solid 2px black;
}
.secondContainer{
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  justify-content:space-between;
  width: 550px;
  margin-right: 20px;
  margin-left: 70px;
}
#name{
  display: flex;
  justify-content: center;
}
#opening{
  border-radius: 3px;
  height: 30px;
  width: 500px;
  border: solid 1px black;
  margin-left:90px;
}
.remote{
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 80px;
  height: 450px;
  width: 220px;
  border-radius: 5px;
  border: solid 1px black;
}
#setName{
  width: 180px;
  height: 100px;
  margin-top: 20px;
  margin-left: 17px;
}
#on{
  margin-top: 20px;
  margin-left: 150px;
}
.tempbtn{
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 200px;
} */
.everything{
    margin-top: 30px;
    margin-left: 300px;
    border: solid 1px black;
    height: 1000px;
    width: 350px;
    border-radius: 11px;
    background-color: white;
  }
  #header{
    margin-left: 33px;
    color:#FD8900;
  }
  .header1{
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .displayBoard{
    margin-top:0px;
    margin-left: 30px;
    margin-right: 40px;
    margin-bottom: 0px;
    /* border: solid 1px black; */
    border-radius: 11px;
    width: 290px;
    height: 120px;
  }
  .displayBoard p{
    font-size: 40px;
  }
  .firstContainer{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    width: 330px;
    margin-left: 10px;
    margin-bottom: 40px;
  }
  #on{
    background: #FD8900;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: none;
    color:white;
    font-size: 30px;
  }
  #plusAndMinus{
    background: #FD8900;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: none;
    color:white;
    font-size: 30px;
  }
  #modolus{
    background: #FD8900;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: none;
    color:white;
    font-size: 30px;
  }
  #division{
    background: #FD8900;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: none;
    color:white;
    font-size: 30px;
  }
  .secondContainer{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    width: 330px;
    margin-left: 10px;
    margin-bottom: 40px;
  }
  #nine{
    background: #D9D9D9;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: none;
    color:black;
    font-size: 30px;
  }
  #eight{
    background: #D9D9D9;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: none;
    color:black;
    font-size: 30px;
  }
  #seven{
    background: #D9D9D9;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: none;
    color:black;
    font-size: 30px;
  }
  #times{
    background: #FD8900;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: none;
    color:white;
    font-size: 30px;
    
  }
  .thirdContainer{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    width: 330px;
    margin-left: 10px;
    margin-bottom: 40px;
  }
  #six{
    background: #D9D9D9;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: none;
    color:black;
    font-size: 30px;
  }
  #five{
    background: #D9D9D9;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: none;
    color:black;
    font-size: 30px;
  
  }
  #four{
    background: #D9D9D9;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: none;
    color:black;
    font-size: 30px;
  }
  #minus{
    background: #FD8900;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: none;
    color:white;
    font-size: 30px;
  }
  .fourthContainer{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    width: 330px;
    margin-left: 10px;
    margin-bottom: 40px;
  }
  #three{
    background: #D9D9D9;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: none;
    color:black;
    font-size: 30px;
  }
  #two{
    background: #D9D9D9;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: none;
    color:black;
    font-size: 30px;
  }
  #one{
    background: #D9D9D9;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: none;
    color:black;
    font-size: 30px;
  }
  #plus{
    background: #FD8900;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: none;
    color:white; 
    font-size: 30px;
  }
  .fifthContainer{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    width: 330px;
    margin-left: 10px;
    margin-bottom: 30px;
  }
  #zero{
    background: #D9D9D9;
    border-radius: 10px;
    height: 60px;
    width: 130px;
    border: none;
    color:black;
    font-size: 30px;
  }
  #dot{
    background: #D9D9D9;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: none;
    color:black;
    font-size: 30px;
  }
  #equals{
    background:#FD8900;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: none;
    color:white;
    font-size: 30px;
  }
  .background{
    background-color: black;
    padding-top: 30px;
  }
  #zero:hover{
    border: solid 3px #FD8900;
  }
  #dot:hover{
    border: solid 3px #FD8900;
    height: 62px;
    width: 62px;
  }
  #equals:hover{
    border: solid 3px black;
    height: 62px;
    width: 62px;
  }
  #one:hover{
    border: solid 3px #FD8900;
    height: 62px;
    width: 62px;
  }
  #two:hover{
    border: solid 3px #FD8900;
    height: 62px;
    width: 62px;
  }
  #three:hover{
    border: solid 3px #FD8900;
    height: 62px;
    width: 62px;
  }
  #four:hover{
    border: solid 3px #FD8900;
    height: 62px;
    width: 62px;
  }
  #five:hover{
    border: solid 3px #FD8900;
    height: 62px;
    width: 62px;
  }
  #six:hover{
    border: solid 3px #FD8900;
    height: 62px;
    width: 62px;
  }
  #minus:hover{
    border: solid 3px black;
    height: 62px;
    width: 62px;
  }
  #plus:hover{
    border: solid 3px black;
    height: 62px;
    width: 62px;;
  }
  #nine:hover{
    border: solid 3px #FD8900;
    height: 62px;
    width: 62px;
  }
  #eight:hover{
    border: solid 3px #FD8900;
    height: 62px;
    width: 62px;
  }
  #seven:hover{
    border: solid 3px #FD8900;
    height: 62px;
    width: 62px;;
  }
  #modolus:hover{
    border: solid 3px black;
    height: 62px;
    width: 62px;
  }
  #times:hover{
    border: solid 3px black;
    height: 62px;
    width: 62px;
  }
  #division:hover{
    border: solid 3px black;
    height: 62px;
    width: 62px;
  }
  #plusAndMinus:hover{
    border: solid 3px black;
    height: 62px;
    width: 62px;
  }
  #on:hover{
    border: solid 3px black;
    height: 62px;
    width: 62px;
  }
  .sixthContainer{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    width: 330px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .sixthContainer button{
    background:#FD8900;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: none;
    color:white;
    font-size: 30px;
  }
  .seventhContainer{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    width: 330px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .seventhContainer button{
    background:#FD8900;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: none;
    color:white;
    font-size: 30px;
  }
  #toggle{
    
  }
  